body{
	background-image: url(bank.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	text-align: center;
	font-family: "Crimson Text", serif;
  	font-weight: 700;
  	font-style: normal;
}

.container {
	align-content: center;
	background-color:white;
	border: 1px solid black;
	padding: 15px;

}